* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}

.container {
  padding: 0 80px;
}

.fashion-text {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 100px;
}

.fashion-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fashion-text-middle > h1 {
  color: #252525;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 68px;
  font-weight: 700;
  line-height: 80px;
}

.fashion-text-middle > p {
  color: #252525;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding: 24px 0;
}

.fashion-text-middle > button {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 16px 32px;
  border-radius: 24px;
  background: #252525;
}

.fashion-text-left,
.fashion-text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fashion-text-left > img:first-child {
  margin-bottom: 32px;
}

.fashion-text-left > img:nth-child(3) {
  margin-top: 56px;
}

.fashion-text-right > img:first-child {
  margin-bottom: 56px;
}

.fashion-text-right > img:nth-child(2) {
  margin-bottom: 32px;
}

/* fashion-img */
.fashion-img {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.fashion-img-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.fashion-img-left {
  display: flex;
  gap: 25px;
  align-items: start;
}

.fashion-img-left div > p {
  color: #252525;
  font-family: "Times New Roman";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
  padding-bottom: 24px;
  border-bottom: 6px solid #252525;
  margin-bottom: 63px;
}

.fashion-img-left-parag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 150px; */
}

.fashion-img-left-parag > div {
    width: 180px;
}

.fashion-img-left-img,
.fashion-img-right-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.fashion-img-right {
  display: flex;
  gap: 25px;
  align-items: end;
}

.fashion-img-right-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: end;
}

.fashion-img-right-text > div p {
  color: #252525;
  font-family: "Times New Roman";
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
  padding-bottom: 24px;
  border-bottom: 6px solid #252525;
  margin-top: 63px;
}

.fashion-img-right-text > div {
    width: 120px;
}
